.owners__wrapper {
    margin: 0 auto;
}

.owners__navigation {
    display: inline-block;
}
.owners__navigation a {
    color: #9da2ab;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 0.25s;
    transition-property: color;
    outline: none; }
.owners__navigation a:hover, .owners__navigation a:focus, .owners__navigation a:active {
    color: #141c22; }

.owners__back_navigation.disabled:hover {
    color: #9da2ab; }
.owners__back_navigation {
    float: left; }

.owners__table {
    border-spacing: 0;
    font-size: 16px;
    width: 100%;
    display: table;
    text-align: center;
}

.owners__row:nth-of-type(odd) {
    background: #f6f6f6; }
.owners__row.owners__header {
    font-weight: 900;
    color: #ffffff;
    background: #e9573f; }

.owners__cell {
    padding: 9px 5px; }

.owners__btn--remove {
    border: none;
    padding: 9px 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    transition-duration: 0.25s;
    transition-property: border-color, background-color;
    background-color: #e9573f;
    color: #ffffff; }
.owners__btn--remove:hover {
    opacity: .7; }

@media only screen and (max-width: 500px) {
    .owners__row {
        padding: 14px 0 7px;
        display: block; }
    .owners__row.owners__header {
        padding: 0;
        height: 6px; }
    .owners__row.owners__header .owners__cell {
        display: none; }
    .owners__row .owners__cell {
        margin-bottom: 10px; }
    .owners__row .owners__cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        text-transform: uppercase;
        color: #969696;
        display: block; }

    .owners__cell {
        padding: 2px 16px;
        display: block;
    }
}

.ownership__green {
    color: green; }
.ownership__blue {
    color: #187ac9; }
.ownership__red {
    color: #e9573f; }

.owner_profile:visited, .owner_profile {
    color: #000000; }
.owner_profile:focus, .owner_profile:hover {
    color: #e9573f; }

.owners__intro {
    margin: 10px 0 32px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid #c1c4ca;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5; }

